# 2603646_DataVisualization

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
---

Source: [kaggle](https://www.kaggle.com/datasets/shivamb/hm-stores-dataset?select=HM_all_stores.csv)

In [4]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import altair as alt
print("pandas version :",pd.__version__)
print("numpy version :",np.__version__)
print("matplotlib version :",mpl.__version__)
print("seaborn version :",sns.__version__)
print("altair version :",alt.__version__)

pandas version : 2.2.1
numpy version : 1.26.4
matplotlib version : 3.8.4
seaborn version : 0.13.2
altair version : 5.4.0

In [5]:
import pandas as pd
import altair as alt

In [6]:
df = pd.read_csv('data/HM_all_stores.csv',
                 # usecols=['Brand', 'Sector', '21BV', '20BV', '19BV', '18BV', '17BV', '16BV']
                )
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4292 entries, 0 to 4291
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   storeCode       4292 non-null   object
 1   storeClass      4289 non-null   object
 2   name            4290 non-null   object
 3   phone           4140 non-null   object
 4   city            4292 non-null   object
 5   country         4292 non-null   object
 6   countryCode     4292 non-null   object
 7   longitude       4292 non-null   float64
 8   latitude        4292 non-null   float64
 9   timeZoneIndex   4289 non-null   float64
 10  Mon_open_hours  4258 non-null   object
 11  Tue_open_hours  4258 non-null   object
 12  Wed_open_hours  4258 non-null   object
 13  Thu_open_hours  4258 non-null   object
 14  Fri_open_hours  4258 non-null   object
 15  Sat_open_hours  4258 non-null   object
 16  Sun_open_hours  3148 non-null   object
 17  streetName1     4292 non-null   object
 18  streetName2     1827 non-null   object
 19  state           2431 non-null   object
 20  address_string  4292 non-null   object
dtypes: float64(3), object(18)
memory usage: 704.3+ KB